*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.info {
    background-color: black;
    color:rgb(255, 255, 255);
    padding: 7px;
}

.info p{
    margin-left:10px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0 !important;
}

.info p i{
    margin-right:5px; 
}

header{
    height: 100vh;
    background-color:black;
   /* background-image: url(/media/FondoPrincipal.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center
}

.titulo{
    margin-top: 12%;
    text-align: center;
}

.titulo h1{

    font-weight: 700;
    text-shadow: rgba(0,0,0,0.18) 0px 0px 7px ;
}

 .logoo{
    width: 150px;
}

.nombre{
    width: 200px;
}                                                                                                                                                                                                                                               

header h1{
    margin-top: -60px;
    padding: 30px;
    font-size: 50px;
    color: white;
}

.contact-me{
    margin: 40px;
    text-decoration: none;
    color: white; 
    background-color: #116816;
    padding: 12px 30px;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}


.Servicios   {
    width: 100%;
    background-color:#ffffff;
    color: white;
    padding: 50px 0px;
    
}
.servicios{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.Servicios h2{
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
   
}

.Servicio{
    width: 200px;
    height: 200px;
    padding:10px 20px;
    margin: 10px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 14px;
    text-align:center; 
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-content: center;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.50);
}
.Servicio img{
    padding: 16px;
}



.somos{
    padding: 50px 20px; 
    background-color: black;
    /*background-image: url(/media/Quienessomos.jpg);*/
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
   
}
.somos h2{
    text-decoration: none;
    color: white; 
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-shadow: rgba(0,0,0,0.18) 0px 4px 7px ;
}
.somos p{
    text-decoration: none;
    color: white; 
    font-size: 18px;
    font-weight: 600;
    /*text-align: 25.6px;*/
    padding:20px 0px;  
    max-width: 1000px;
    text-align:center; 
    margin: auto;
    text-shadow: rgba(0,0,0,0.18) 0px 4px 7px ;
    
}
.contacto{
    padding: 50px 0px;

}
.contacto h2{
    text-align: center;
}

.contener_contacto{
display: flex;
flex-flow: row nowrap;
justify-content:space-between;
align-content: center;
}

.formulario{
    width: 45%;
}

.mapa{
    width: 52%;
/*df*/
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


@media (max-width: 768px) { 
    
 }


 @media (max-width: 576px) { 

    header h1{
        margin-top: -60px;
        padding: 30px;
        font-size: 40px;
        color: white;
    }
    .logoo{
        width: 100px;
    }
    
    .nombre{
        width: 150px;
    } 
                                                                                                                                                                                                                                            
    .titulo h1{
       text-align: center;
       font-size: 35px;
    }

    .servicios{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    .somos h2{
        text-decoration: none;
        color: white; 
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-shadow: rgba(0,0,0,0.18) 0px 4px 7px ;
    }
    .somos p{
        text-decoration: none;
        color: white; 
        font-size: 15px;
        font-weight: 600;
        /*text-align: 25.6px;*/
        padding:20px 0px;  
        max-width: 1000px;
        text-align:center; 
        margin: auto;
        text-shadow: rgba(0,0,0,0.18) 0px 4px 7px ;
        
    }
    .formulario{
        width: 90%;
    }
    .mapa{
        margin-top: 15px;
        width: 100%;

    }
  
    .contener_contacto{
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        }
 }
 /*Esteban Artigas*/